@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 5px;
}

.banner-wrap {
    background-repeat: no-repeat;
    background-image: url(./assets/bgimage.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.info-container {
    color: white;
    margin: 0px 0px 8px;
}

.FAQ {
    color: white;
}

.footer {
    color:white; 
}